
    /* -------------------- CSS BY NAME -------------------------------------- */

    /* -------------------- IMPORTED FONTS -------------------------------------- */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

    /*-------------------- CSS REST ---------------------------------------------------*/
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

    /* -------------------- ROOT VARIABLES --------------------------------------- */
:root{
    font-family: "Inter", sans-serif;
    --font-heading: "Kavoon", serif;
    --font-text: "Inter", sans-serif;
    font-size: 1em;
    --Teal :#4CA7C0;
    --Purple :#484FB7;
    --Lavender :#6B8FE7;
    --Yellow :#E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 
}

    /* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
@media screen and (min-width: 450px) {
    body{
        font-family: var(--font-text);
        background-color: var(--Purple);
    }
    h1, h2{
        font-family: var(--font-heading);
        color: var(--White);
    }
    h1 {
        font-size: 3em;
    }
    nav h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 2em;
        margin: 10px;
    }
    h3 {
        font-size: 1.5em;
        color: var(--Yellow);
        font-weight: bold;
        margin: 10px;
    }
    h4 {
        font-size: 1.15em;
        color: var(--Purple);
        font-weight: bold;
    }
    header {
        background-color: var(--Lavender);
        padding: 60px 10px 20px 10px;
        text-align: center;
        border-radius: 0 0 40px 40px;
        position: relative;
        z-index: 2;
       
    }
    .slogan {
        color: var(--White);
        background-color: var(--Pink);
        padding: 40px 30px 10px;
        text-align: center;
        display: block;
        justify-content: center;
        border-radius: 0 0 40px 40px;
        width: 95%;
        position: absolute;
        z-index: 1;
        top: 100px; 
        overflow: hidden;
        white-space: nowrap;
    }
    nav {
        margin: 50px 10px 10px 10px;
    }
    nav h2 {
        background-color: var(--Yellow);
        border-radius: 0 0 20px 20px;
        padding: 10px 20px;
        text-align: center;
        position: fixed;
        z-index: 3;
        top: -10px;
        right: -10px;
        color: var(--Dark-gray);
        font-family: var(--font-text);
        font-weight: bold;
        font-style: italic;
        font-variant:small-caps;
    }
    nav ul{
        visibility: hidden;
    }
    .PD {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .PD h4 {
        margin-bottom: 10px;
    }
    .PD img {
        margin-bottom: 20px;
    }
    .CC {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .CC h4 {
        margin-bottom: 10px;
    }
    .CC img {
        margin-bottom: 10px;
    }
    .RC {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .RC h4 {
        margin-bottom: 10px;
    }
    .RC img {
        margin-bottom: 10px;
    }
    .SC {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .SC h4 {
        margin-bottom: 10px;
    }
    .SC img {
        margin-bottom: 10px;
    }
    .FS {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .FS h4 {
        margin-bottom: 10px;
    }
    .FS img {
        margin-bottom: 10px;
    }
    .IL {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .IL h4 {
        margin-bottom: 10px;
    }
    .IL img {
        margin-bottom: 10px;
    }
    .FL {
        background-color: var(--White);
        margin: 30px;
        padding: 30px 50px 30px 30px;
        border-radius: 15px;
        line-height: 1.5;
    }
    .FL h4 {
        margin-bottom: 10px;
    }
    .FL img {
        margin-bottom: 10px;
    }
    .WCU {
        background-color: var(--Pink);
        padding: 20px;
    }
    .WCU ul{
        display: grid;
        grid-template-columns: auto auto;
        font-weight: bold;
        text-align: center;
    }
    .WCU li:nth-of-type(1) {
        background-color: var(--Teal);
        border-radius: 20px;
        padding: 50px 15px;
        margin: 10px;
    }
    .WCU li:nth-of-type(2) {
        background-color: var(--Lavender);
        border-radius: 20px;
        padding: 50px 30px;
        margin: 10px;
    }
    .WCU li:nth-of-type(3) {
        background-color: var(--Yellow);
        border-radius: 20px;
        padding: 50px 15px;
        margin: 10px;
    }
    .WCU li:nth-of-type(4) {
        background-color: var(--White);
        border-radius: 20px;
        padding: 50px 30px;
        margin: 10px;
    }
}
    /*-------------------- MEDIA QUERY (Medium- min-width: 620px) --------------------------------*/

    /*-------------------- MEDIA QUERY (Large- min-width: 950px) ------------------------------------*/

    /*-------------------- MEDIA QUERY (XL- min-width: 1280px) ---------------------------------------*/



    
    
    
